@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Lilita+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.text-blue {
  color: #00adff;
  font-weight: 700;
}

/* NAVBAR */

#navbar {
  height: 100px;
  background: #221f1f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid white;
}

#navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  padding: 10px 60px;
  background-color: #e3e3e3;
  color: #004881;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 1000;
}

.nav_items {
  list-style: none;
  display: flex;
  width: 33%;
  justify-content: space-around;
  margin-right: 20px;
  font-size: 13px;
}

.nav_item:hover {
  cursor: pointer;
  transition: all 300ms ease;
  font-weight: 500;
  transform: scale(1.03);
  color: #e3e3e3;
}

.green_light {
  height: 25px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.availability {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  padding: 20px 20px;
  border-right: solid 1px grey ;
  border-left: solid 1px grey ;
  transform: skew(-15deg);
  font-size: 13px;
}

.availability_items {
  transform: skew(15deg);
}

.contact {
  display: flex;
  margin: 0 20px;
  width: 33%;
}

.contact_box {
  background-color: red;
  margin: 0 5px;
  transform: skew(-15deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  width: 50%;
  font-size: 15px;
}

.quote {
  color: white;
  font-weight: 600;
  background-color: #00adff;
  font-size: 13px;
}

.number {
  color: white;
  font-weight: 600;
  background-color: #221f1f;
  border: 3px solid white;
  font-size: 13px;
}

/* LANDING */

#landing {
  height: 110vh;
  position: relative;
}

.landing_bg_l {
  z-index: -10;
  position: absolute;
  left: -10%;
  height: 110vh;
  filter: brightness(0.4);  
}

.landing_bg_r {
  z-index: -10;
  position: absolute;
  right: 0;
  height: 110vh;
}

.landing_top {
  height: auto;
  position: absolute;
  left: 7%;
  top: 14%;
}

.landing_title {
  font-family: "Candal", sans-serif;
  color: white;
  font-size: 74px;  
  opacity: 1;
  line-height: 12vh;
}

.blue_bg {
  height: 90px;
  width: 95%;
  background: #006dff;
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translateY(-40%);
  z-index: -10;
  opacity: 0.6;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 30px;
  height: 89px;
  background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #006dff 50%, #006dff 100%);
  transform: rotate(180deg) translate(-98%);

  opacity: 0.95;
}

.landing_desc {
  height: 20%;
  position: absolute;
  left: 7%;
  top: 54%;
}

.desc_item {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
}

.desc_right {
  color: white;
}

.desc_img {
  border-radius: 80%;
  height: 100%;
  margin-right: 20px;
}

.landing_bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50%;
  bottom: 5%;
  right: 0;
}

.facebook {
  height: 200px;
  width: 180px;
  background-color: #0b6cb8;
  transform: skew(-12deg);
}

.google {
  height: 200px;
  width: 180px;
  background-color: red;
  transform: skew(-12deg);
}

.emergency {
  height: 200px;
  width: 180px;
  background-color: #ffd100;
  transform: skew(-12deg);
  text-align: center;
}

.landing_bottom_title {
  font-size: 68px;
  transform: skew(12deg);
}

.landing_bottom_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.google, .facebook {
  color: white;
}

.landing_bottom_card p {
  font-size: 12px;
  margin-bottom: 10px;
  transform: skew(12deg);
}

.landing_bottom_card h4 {
  transform: skew(12deg);
}

.star {
  width: 60%;
  transform: skew(12deg);
}

/* REQUEST */

#request {
  background-color: #f1f1f1;
  height: 90vh;
  margin-bottom: 30vh;
}

#request .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request_title {
  font-family: "Candal", sans-serif;
  font-size: 56px;  
  opacity: 1;
  line-height: 12vh;
  font-weight: 300;
  line-height: 8vh;
}

.request_desc {
  color: black;
  font-weight: 500;
  width:72%;
  margin-top: 4vh;
  line-height: 4vh;
}

.request_img {
  width: 20vw;
}

.no_call_out_wrapper {
  background-color: #00adff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 220px;
  transform: skew(-5deg);
}

.no_call_out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 170px;
  width: 190px;
  border: 5px dashed white;
  color: white;
}

.call_out_title {
  font-size: 80px;
}

.call_out_desc, .call_out_title {
  transform: skew(5deg);
}

.request_right {
  display: flex;
  align-items: center;
}

.new_container {
  width: 90vw;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 40vh;
  margin: 0 auto;
  padding: 30px;
  transform: translateY(-10px);
}

.new_title {
  width: 40%;
  font-size: 18px;
}

.lock {
  height: 15px;
  margin-right: 10px;
}

.lock_div {
  display: flex;
  align-items: center;
}

.lock_div p {
  font-size: 14px;
}

.new_container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new_container_bottom-top, .new_container_bottom-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_container_bottom-top {
  margin-top: 50px;
}

.new_container_bottom-bottom {
  margin-top: 20px;
}

.new_container_card {
  width: 22.5%;
  margin: 0 1%;
  height: 7vh;
  border: 1px solid lightgray;
  padding-left: 30px;
}

.new_container_long_card {
  width: 47.5%;
}

.new_container_button {
  padding: 0;
  background-color: #00adff;
  color: white;
  font-weight: 700;
  border: 1px solid #00adff;
  cursor: pointer;
}

.new_container_button:hover {
  transition: all 300ms ease;
  transform: scale(1.01);
}

.fifty_off {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 23vw;
  height: 13vh;
  background-color: #ffd100;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.off_title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed white;
}

.off_dollar {
  font-size: 50px;
}

.off_dollar_desc {
  font-size: 20px;
  font-weight: 900;
  transform-origin: center;
  transform: rotate(-90deg);
}

.off_desc {
  width: 10vw;
  font-weight: 800;
}

.liner {
  display: flex;
}

/* PLUMBING */

#plumbing {

}

.plumbing_title {
  width: 100%;
  text-align: center;
  font-family: "Candal", sans-serif;
  font-size: 56px;  
  margin: 0 auto;
}

.plumbing_desc {
  width: 100%;
  color: black;
  font-weight: 500;
  text-align: center;
  margin-top: 4vh;
  line-height: 4vh;
}

.plumbing_cards {
  display: flex;
  flex-wrap: wrap;
}

.plumbing_card {
  width: 22%;
  margin: 20px;
  height: 200px;
  background-color: gray;
  position: relative;
}

.plumbing_card_bottom {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.plumbing_card_bottom_icon {
  height: 30px;
  width: 30px;
  background-color: #00adff;
}

.plumbing_card_bottom_icon img {
  width: 100%;
  border-radius: 50%;
}

.plumbing_card_bottom_desc {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 6px;
  width: 60%;
  font-weight: 700;
  font-size: 10px;
  background-color: #002440;
  height: 30px;
}

.plumbing_triangle {  
  width: 15px;
  height: 30px;
  background: linear-gradient(to bottom left, transparent 0%, transparent 50%, #002440 50%, #002440 100%);
}

.brand_header_wrapper {
  display: flex;
  align-items: center;
  margin-top: 10vh;
}

.brand_title {
  width: 40%;
  font-weight: 800;
}

.brand_line {
  height: 1px;
  width: 60%;
  background-color: lightgray;
}

.brands {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  width: calc(80% / 7);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_img {
  /* width: 100%; */
  height: 70px;
}